.menu-item {
  min-width: 30%;
  height: 240px;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  margin: 0 7.5px 15px;
  overflow: hidden; // make sure the scale effect on hover won't overflow out of box

  &:hover {
    cursor: pointer;

    & .background-image {
      transform: scale(1.1);
      transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    }

    & .content {
      opacity: 0.9;
    }
  }

  &.large {
    height: 380px;
  }

  // indicates the last child of .menu-item
  // takes no effect for now, because it's the same as the margin set in .menu-item
  &:first-child {
    margin-right: 7.5px;
  }

  // indicates the last child of .menu-item
  // takes no effect for now, because it's the same as the margin set in .menu-item
  &:last-child {
    margin-right: 7.5px;
  }

  .background-image {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
  }

  .content {
    height: 90px;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    background-color: white;
    opacity: 0.7;
    position: absolute; // make sure content to be in the center of bg image instead of next to it

    .title {
      font-weight: bold;  // it's also used by .h1, so maybe actually it's not necessary
      margin-bottom: 6px; // make bottom smaller to make the gap in between smaller
      color: #4a4a4a;
    }

    .subtitle {
      font-weight: lighter;
      font-size: 16px; // not working as it was 16px already
    }
  }
}