body {
  font-family: 'Open Sans Condensed', sans-serif;
  padding: 20px 60px;
}

a {
  text-decoration: none;
  color: black;
}

/* reference: https://www.w3schools.com/css/css3_box-sizing.asp */
* {
  box-sizing: border-box;
}